.my-buttom {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #99e8d3;
    border-radius: 30px;
    transition: all .3s linear;
    font-family: "Satoshi Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    background: #99e8d3;
    cursor: pointer;
    width: max-content;
    height: 48px;
    padding: 0 60px;
    white-space: nowrap;
    color: #2f313b;
    text-transform: capitalize;
}

.my-color {
    color: #903bd1
}



.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 20px;
}


.slider-sub {
    font-size: 20px;
    line-height: 37px;
    padding-top: 20px;
    font-weight: 100;
    margin-bottom: 30px;
}

.banner .banner-inside .col-70 ul.banner-cta {
    margin-bottom: 116px;
}

@media only screen and (max-width: 575px) {
    .flex {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        justify-content: flex-start;
        flex-direction: column;
    }
}


.flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: flex-start;
  
}

.primary-btn1 {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #8242c3;
    border-radius: 30px;
    transition: all .3s linear;
    font-family: "Satoshi Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    background: #8242c3;
    cursor: pointer;
    width: max-content;
    height: 48px;
    padding: 0 60px;
    white-space: nowrap;
    color: #2f313b;
    text-transform: capitalize;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.primary-btn1  {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--button-color);
    border-radius: 30px;
    transition: all .3s linear;
    font-family: "Satoshi Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    background: var(--button-color);
    cursor: pointer;
    width: max-content;
    height: 48px;
    padding: 0 30px;
    white-space: nowrap;
    color: #FFF;
    text-transform: capitalize;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.secondary-btn {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #2f313b;
    border-radius: 30px;
    transition: all .3s linear;
    font-family: "Satoshi Medium",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    height: 48px;
    width: max-content;
    padding: 0 30px;
    white-space: nowrap;
    color: #2f313b;
    background: transparent;
    text-transform: capitalize;
  
  }


.span-color{

    color: #779b58;
}
.ul-list-hero{
    list-style: none;
}

@media (max-width: 767px) {
    .banner .banner-inside .col-70 ul.banner-cta {
      margin-bottom: 40px;
      flex-direction: column;
    }
    .secondary-btn {
        margin-left: -20px;
    }
  }

  @media (max-width: 767px) {
    section {
        padding: 0px 0;
    }
}

.mgr{
    margin-right: 5px;
}